*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  background-color: rgb(255, 244, 230);
  max-width: 800px;
  margin: 5rem auto;
  border: 3px dashed red;
  padding: 3rem;
}
.ques {
  border: 1px solid black;
  padding: 1.5rem;
  font-size: 1.3rem;
  margin: 0.5rem;
  background-color: rgb(253, 216, 140);
}

ul li {
  list-style: none;
}
.display-none {
  display: none;
}
